#Working with pandas

**First things first, we need to import the pandas library**

In [1]:
import pandas as pd

**[Pandas Documentation](https://pandas.pydata.org/docs/)**

#**Pandas Series**

In [ ]:
# creating a series from an array
a = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(f'The pandas series with index a,b,c is \n{a}')
print(f'\nJust for the peace of mind, type of the variable storing the series is:\n{type(a)}')

The pandas series with index a,b,c is
a    1
b    2
c    3
dtype: int64

Just for the peace of mind, type of the variable storing the series is:
<class 'pandas.core.series.Series'>

In [ ]:
# creating a series from a dictionary
a = pd.Series({'a': 1, 'b': 2, 'c':3})
print(f'The pandas series with index a,b,c is \n{a}')
print(f'\nJust for the peace of mind, type of the variable storing the series is:\n{type(a)}')

The pandas series with index a,b,c is
a    1
b    2
c    3
dtype: int64

Just for the peace of mind, type of the variable storing the series is:
<class 'pandas.core.series.Series'>

In [ ]:
# accessing the values in a series via index
print(f'Value of 1st index = {a["a"]}')
print(f'Value of 2nd index = {a["b"]}')
print(f'Value of 3rd index = {a["c"]}')

Value of 1st index = 1
Value of 2nd index = 2
Value of 3rd index = 3

#**Pandas Dataframe**

In [ ]:
# creating a dataframe
dictionary = {
    'column1': [1,2,3],
    'column2':[4,5,6],
    'column3':[7,8,9],
    'column4':[10,11,12]
}
our_df = pd.DataFrame(dictionary, index=["index1", "index2", "index3"])
print(f'The data frame we created :\n{our_df}')

The data frame we created :
        column1  column2  column3  column4
index1        1        4        7       10
index2        2        5        8       11
index3        3        6        9       12

In [ ]:
#playing with the above dataframe
print(f'The first column: \n{our_df.column1}')
print(f'\nThe second column: \n{our_df.column2}')
print(f'\nThe third column: \n{our_df.column3}')

The first column:
index1    1
index2    2
index3    3
Name: column1, dtype: int64

The second column:
index1    4
index2    5
index3    6
Name: column2, dtype: int64

The third column:
index1    7
index2    8
index3    9
Name: column3, dtype: int64

In [ ]:
# find the details or information about the dataframe in hand
print(f'The number of rows and columns (shape of the df) in this dataframe = {our_df.shape}')
print(f'The number of rows in this dataframe = {our_df.shape[0]}')
print(f'The number of columns in this dataframe = {our_df.shape[1]}')
print(f'The number of elements in this dataframe = {our_df.size}')

The number of rows and columns (shape of the df) in this dataframe = (3, 4)
The number of rows in this dataframe = 3
The number of columns in this dataframe = 4
The number of elements in this dataframe = 12

**There are more exciting features to explore. For that, we would need a larger dataset.**<br>
**Let us use this dataset available at** [https://api.covid19india.org/csv/latest/state_wise.csv](https://api.covid19india.org/csv/latest/state_wise.csv)

In [89]:
# importing a csv file from the mentioned source in form of dataframe
df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv")
df

                                       State  ...                                        State_Notes
0                                      Total  ...                                                NaN
1                                Maharashtra  ...  304 cases are marked as non-covid deaths in MH...
2                                 Tamil Nadu  ...  [July 22]: 444 backdated deceased entries adde...
3                                      Delhi  ...  [July 14]: Value for the total tests conducted...
4                                  Karnataka  ...  9 cases are classified as non-covid related de...
5                             Andhra Pradesh  ...  Total includes patients from other states and ...
6                              Uttar Pradesh  ...                                                NaN
7                                    Gujarat  ...                                                NaN
8                                West Bengal  ...                                                NaN
9                                  Telangana  ...  [July 27]\nTelangana bulletin for the previous...
10                                 Rajasthan  ...                                                NaN
11                                     Bihar  ...                                                NaN
12                                   Haryana  ...                                                NaN
13                                     Assam  ...  Includes one case from Nagaland.\nTotal of 3 p...
14                            Madhya Pradesh  ...                                                NaN
15                                    Odisha  ...  [July 12th] 20 non-covid deaths reported in st...
16                         Jammu and Kashmir  ...                                                NaN
17                                    Kerala  ...  Mahe native who expired in Kannur included in ...
18                                    Punjab  ...                                                NaN
19                                 Jharkhand  ...                                                NaN
20                              Chhattisgarh  ...                                                NaN
21                               Uttarakhand  ...        38 Migrated cases reduced from Active count
22                                       Goa  ...                                                NaN
23                                   Tripura  ...                                                NaN
24                                Puducherry  ...                                                NaN
25                                   Manipur  ...                                                NaN
26                          Himachal Pradesh  ...  HP has 18 Migrated cases which are reduced fro...
27                                    Ladakh  ...                                                NaN
28                                  Nagaland  ...                                                NaN
29                         Arunachal Pradesh  ...  [July 25]: All numbers corresponding to Papum ...
30                                Chandigarh  ...                                                NaN
31  Dadra and Nagar Haveli and Daman and Diu  ...                                                NaN
32                                 Meghalaya  ...  [June 17]:\nOne case was identified to be fals...
33                                    Sikkim  ...                                                NaN
34                                   Mizoram  ...                                                NaN
35               Andaman and Nicobar Islands  ...                                                NaN
36                          State Unassigned  ...  MoHFW website reports that these are the 'case...
37                               Lakshadweep  ...                                                NaN

[38 rows x 12 columns]

In [92]:
# see the index colun above? Here is a way to avoid that!
df= pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv", index_col = 0)
df

                                          Confirmed  ...                                        State_Notes
State                                                ...
Total                                       1693879  ...                                                NaN
Maharashtra                                  422118  ...  304 cases are marked as non-covid deaths in MH...
Tamil Nadu                                   245859  ...  [July 22]: 444 backdated deceased entries adde...
Delhi                                        135598  ...  [July 14]: Value for the total tests conducted...
Karnataka                                    124115  ...  9 cases are classified as non-covid related de...
Andhra Pradesh                               140933  ...  Total includes patients from other states and ...
Uttar Pradesh                                 85461  ...                                                NaN
Gujarat                                       61438  ...                                                NaN
West Bengal                                   70188  ...                                                NaN
Telangana                                     62703  ...  [July 27]\nTelangana bulletin for the previous...
Rajasthan                                     42083  ...                                                NaN
Bihar                                         50987  ...                                                NaN
Haryana                                       34965  ...                                                NaN
Assam                                         38408  ...  Includes one case from Nagaland.\nTotal of 3 p...
Madhya Pradesh                                31806  ...                                                NaN
Odisha                                        31877  ...  [July 12th] 20 non-covid deaths reported in st...
Jammu and Kashmir                             20359  ...                                                NaN
Kerala                                        23614  ...  Mahe native who expired in Kannur included in ...
Punjab                                        16119  ...                                                NaN
Jharkhand                                     10488  ...                                                NaN
Chhattisgarh                                   9086  ...                                                NaN
Uttarakhand                                    7183  ...        38 Migrated cases reduced from Active count
Goa                                            5913  ...                                                NaN
Tripura                                        4722  ...                                                NaN
Puducherry                                     3472  ...                                                NaN
Manipur                                        2621  ...                                                NaN
Himachal Pradesh                               2564  ...  HP has 18 Migrated cases which are reduced fro...
Ladakh                                         1404  ...                                                NaN
Nagaland                                       1693  ...                                                NaN
Arunachal Pradesh                              1484  ...  [July 25]: All numbers corresponding to Papum ...
Chandigarh                                     1051  ...                                                NaN
Dadra and Nagar Haveli and Daman and Diu       1149  ...                                                NaN
Meghalaya                                       823  ...  [June 17]:\nOne case was identified to be fals...
Sikkim                                          639  ...                                                NaN
Mizoram                                         408  ...                                                NaN
Andaman and Nicobar Islands                     548  ...                                                NaN
State Unassigned                                  0  ...  MoHFW website reports that these are the 'case...
Lakshadweep                                       0  ...                                                NaN

[38 rows x 11 columns]

In [33]:
# find the details or information about the dataframe in hand
print(f'The number of rows and columns (shape of the df) in this dataframe = {df.shape}')
print(f'The number of rows in this dataframe = {df.shape[0]}')
print(f'The number of columns in this dataframe = {df.shape[1]}')
print(f'The number of elements in this dataframe = {df.size}')

The number of rows and columns (shape of the df) in this dataframe = (38, 11)
The number of rows in this dataframe = 38
The number of columns in this dataframe = 11
The number of elements in this dataframe = 418

In [93]:
# first five rows of the dataframe
df.head() # by default it prints first five rows
# we can state the number of rows we want in the paranthesis like - head.df(2)

             Confirmed  ...                                        State_Notes
State                   ...
Total          1693879  ...                                                NaN
Maharashtra     422118  ...  304 cases are marked as non-covid deaths in MH...
Tamil Nadu      245859  ...  [July 22]: 444 backdated deceased entries adde...
Delhi           135598  ...  [July 14]: Value for the total tests conducted...
Karnataka       124115  ...  9 cases are classified as non-covid related de...

[5 rows x 11 columns]

In [35]:
#last five rows of the dataframe
df.tail() # by default it returns the last 5 rows
# we can state the number of rows we want in the paranthesis like - tail.df(2)

                             Confirmed  ...                                        State_Notes
State                                   ...
Sikkim                             639  ...                                                NaN
Mizoram                            408  ...                                                NaN
Andaman and Nicobar Islands        548  ...                                                NaN
State Unassigned                     0  ...  MoHFW website reports that these are the 'case...
Lakshadweep                          0  ...                                                NaN

[5 rows x 11 columns]

In [50]:
# information for column names and data types of the dataframe at hand
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, Total to Lakshadweep
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Confirmed          38 non-null     int64
 1   Recovered          38 non-null     int64
 2   Deaths             38 non-null     int64
 3   Active             38 non-null     int64
 4   Last_Updated_Time  38 non-null     object
 5   Migrated_Other     38 non-null     int64
 6   State_code         38 non-null     object
 7   Delta_Confirmed    38 non-null     int64
 8   Delta_Recovered    38 non-null     int64
 9   Delta_Deaths       38 non-null     int64
 10  State_Notes        14 non-null     object
dtypes: int64(8), object(3)
memory usage: 4.8+ KB

In [68]:
#get the column names
df.columns

Index(['Confirmed', 'Recovered', 'Deaths', 'Active', 'Last_Updated_Time',
       'Migrated_Other', 'State_code', 'Delta_Confirmed', 'Delta_Recovered',
       'Delta_Deaths', 'State_Notes'],
      dtype='object')

In [71]:
# get all data from a column
df['Confirmed']
# the above output was in form of a Series

State
Total                                       1690546
Maharashtra                                  422118
Tamil Nadu                                   245859
Delhi                                        135598
Karnataka                                    124115
Andhra Pradesh                               140933
Uttar Pradesh                                 85461
Gujarat                                       61438
West Bengal                                   67692
Telangana                                     62703
Rajasthan                                     41298
Bihar                                         50987
Haryana                                       34965
Assam                                         38408
Madhya Pradesh                                31806
Odisha                                        31877
Jammu and Kashmir                             20359
Kerala                                        23614
Punjab                                        16119
Jharkhand                                     10488
Chhattisgarh                                   9086
Uttarakhand                                    7183
Goa                                            5913
Tripura                                        4722
Puducherry                                     3472
Manipur                                        2621
Himachal Pradesh                               2512
Ladakh                                         1404
Nagaland                                       1693
Arunachal Pradesh                              1484
Chandigarh                                     1051
Dadra and Nagar Haveli and Daman and Diu       1149
Meghalaya                                       823
Sikkim                                          639
Mizoram                                         408
Andaman and Nicobar Islands                     548
State Unassigned                                  0
Lakshadweep                                       0
Name: Confirmed, dtype: int64

In [94]:
# get all data from a column - another example
df[['Confirmed','Active']]
# the above output was in form of a dataframe

                                          Confirmed  Active
State
Total                                       1693879  563158
Maharashtra                                  422118  150662
Tamil Nadu                                   245859   57968
Delhi                                        135598   10705
Karnataka                                    124115   72004
Andhra Pradesh                               140933   75720
Uttar Pradesh                                 85461   34968
Gujarat                                       61438   13993
West Bengal                                   70188   20233
Telangana                                     62703   16796
Rajasthan                                     42083   11558
Bihar                                         50987   17038
Haryana                                       34965    6317
Assam                                         38408    9226
Madhya Pradesh                                31806    8668
Odisha                                        31877   11145
Jammu and Kashmir                             20359    7765
Kerala                                        23614   10495
Punjab                                        16119    4999
Jharkhand                                     10488    6208
Chhattisgarh                                   9086    2803
Uttarakhand                                    7183    2897
Goa                                            5913    1657
Tripura                                        4722    1721
Puducherry                                     3472    1323
Manipur                                        2621     927
Himachal Pradesh                               2564    1075
Ladakh                                         1404     302
Nagaland                                       1693    1052
Arunachal Pradesh                              1484     654
Chandigarh                                     1051     369
Dadra and Nagar Haveli and Daman and Diu       1149     412
Meghalaya                                       823     603
Sikkim                                          639     407
Mizoram                                         408     160
Andaman and Nicobar Islands                     548     328
State Unassigned                                  0       0
Lakshadweep                                       0       0

#**loc and iloc** <br>
**Accessing data from the dataframe - Indexing and selecting data**

In [60]:
#loc = label based index, i.e, we can access the column and its whole row using the text present in it
print(f'This will give output in form of a Series \n\n{df.loc["Delhi"]}')
print(f'\nDatatype of above output \n{type(df.loc["Delhi"])}') #just for the peace of mind :p

This will give output in form of a Series

Confirmed                                                       135598
Recovered                                                       120930
Deaths                                                            3963
Active                                                           10705
Last_Updated_Time                                  31/07/2020 16:57:34
Migrated_Other                                                       0
State_code                                                          DL
Delta_Confirmed                                                   1195
Delta_Recovered                                                   1206
Delta_Deaths                                                        27
State_Notes          [July 14]: Value for the total tests conducted...
Name: Delhi, dtype: object

Datatype of above output
<class 'pandas.core.series.Series'>

In [63]:
#loc = label based index, i.e, we can access the column and its whole row using the text present in it
print(f'This will give output in form of a DataFrame \n\n{df.loc[["Delhi"]]}')
print(f'\nDatatype of above output \n{type(df.loc[["Delhi"]])}') #just for the peace of mind :p

This will give output in form of a DataFrame

       Confirmed  ...                                        State_Notes
State             ...
Delhi     135598  ...  [July 14]: Value for the total tests conducted...

[1 rows x 11 columns]

Datatype of above output
<class 'pandas.core.frame.DataFrame'>

In [66]:
#iloc = integer based index, i.e, we can access the column and its whole row using it's number or position
print(f'This will give output in form of a Series \n\n{df.iloc[3]}')
print(f'\nDatatype of above output \n{type(df.iloc[3])}') #just for the peace of mind :p

This will give output in form of a Series

Confirmed                                                       135598
Recovered                                                       120930
Deaths                                                            3963
Active                                                           10705
Last_Updated_Time                                  31/07/2020 16:57:34
Migrated_Other                                                       0
State_code                                                          DL
Delta_Confirmed                                                   1195
Delta_Recovered                                                   1206
Delta_Deaths                                                        27
State_Notes          [July 14]: Value for the total tests conducted...
Name: Delhi, dtype: object

Datatype of above output
<class 'pandas.core.series.Series'>

In [67]:
#iloc = integer based index, i.e, we can access the column and its whole row using it's number or position
print(f'This will give output in form of a Dataframe \n\n{df.iloc[[3]]}')
print(f'\nDatatype of above output \n{type(df.iloc[[3]])}') #just for the peace of mind :p

This will give output in form of a Dataframe

       Confirmed  ...                                        State_Notes
State             ...
Delhi     135598  ...  [July 14]: Value for the total tests conducted...

[1 rows x 11 columns]

Datatype of above output
<class 'pandas.core.frame.DataFrame'>

#Some statistics and other mathematical features that pandas can help with

**Mean, Maximum, Minimum**

In [97]:
print(f'Mean : \n\n{df.mean()} \n\n')
print(f'Maximum : \n\n{df.max()} \n\n')
print(f'Minimum : \n\n{df.min()}\n\n')
print("Since the datraframe in hand has several types of values, the max and min values are not necessarily from one single row.\nWe need to be careful about this!")

Mean :

Confirmed          89151.526316
Recovered          57565.631579
Deaths              1923.578947
Active             29639.894737
Migrated_Other        22.421053
Delta_Confirmed     2858.473684
Delta_Recovered     1823.894737
Delta_Deaths          40.052632
dtype: float64


Maximum :

Confirmed                        1693879
Recovered                        1093747
Deaths                             36548
Active                            563158
Last_Updated_Time    31/07/2020 22:08:33
Migrated_Other                       426
State_code                            WB
Delta_Confirmed                    54311
Delta_Recovered                    34654
Delta_Deaths                         761
dtype: object


Minimum :

Confirmed                              0
Recovered                              0
Deaths                                 0
Active                                 0
Last_Updated_Time    19/07/2020 09:40:01
Migrated_Other                         0
State_code                            AN
Delta_Confirmed                        0
Delta_Recovered                        0
Delta_Deaths                           0
dtype: object


Since the datraframe in hand has several types of values, the max and min values are not necessarily from one single row.
We need to be careful about this!

**Variance, Standard Deviation**

In [102]:
print(f'Standard Deviation : \n\n{df.std()} \n\n')
print(f'Variance : \n\n{df.var()} \n\n')

Standard Deviation :

Confirmed          279482.543964
Recovered          180460.323717
Deaths               6306.478645
Active              93574.026812
Migrated_Other         83.427791
Delta_Confirmed      8954.488353
Delta_Recovered      5713.456107
Delta_Deaths          128.943932
dtype: float64


Variance :

Confirmed          7.811049e+10
Recovered          3.256593e+10
Deaths             3.977167e+07
Active             8.756098e+09
Migrated_Other     6.960196e+03
Delta_Confirmed    8.018286e+07
Delta_Recovered    3.264358e+07
Delta_Deaths       1.662654e+04
dtype: float64