#Working with pandas

**First things first, we need to import the pandas library**

In [1]:
import pandas as pd

**[Pandas Documentation](https://pandas.pydata.org/docs/)**

**Pandas Series**

In [ ]:
# creating a series from an array
a = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(f'The pandas series with index a,b,c is \n{a}')
print(f'\nJust for the peace of mind, type of the variable storing the series is:\n{type(a)}')

The pandas series with index a,b,c is
a    1
b    2
c    3
dtype: int64

Just for the peace of mind, type of the variable storing the series is:
<class 'pandas.core.series.Series'>

In [ ]:
# creating a series from a dictionary
a = pd.Series({'a': 1, 'b': 2, 'c':3})
print(f'The pandas series with index a,b,c is \n{a}')
print(f'\nJust for the peace of mind, type of the variable storing the series is:\n{type(a)}')

The pandas series with index a,b,c is
a    1
b    2
c    3
dtype: int64

Just for the peace of mind, type of the variable storing the series is:
<class 'pandas.core.series.Series'>

In [ ]:
# accessing the values in a series via index
print(f'Value of 1st index = {a["a"]}')
print(f'Value of 2nd index = {a["b"]}')
print(f'Value of 3rd index = {a["c"]}')

Value of 1st index = 1
Value of 2nd index = 2
Value of 3rd index = 3

**Pandas Dataframe**

In [4]:
# creating a dataframe
dictionary = {
    'column1': [1,2,3],
    'column2':[4,5,6],
    'column3':[7,8,9]
}
our_df = pd.DataFrame(dictionary, index=["index1", "index2", "index3"])
print(f'The data frame we created :\n{our_df}')

The data frame we created :
        column1  column2  column3
index1        1        4        7
index2        2        5        8
index3        3        6        9

In [7]:
#playing with the above dataframe
print(f'The first column: \n{our_df.column1}')
print(f'\nThe second column: \n{our_df.column2}')
print(f'\nThe third column: \n{our_df.column3}')

The first column:
index1    1
index2    2
index3    3
Name: column1, dtype: int64

The second column:
index1    4
index2    5
index3    6
Name: column2, dtype: int64

The third column:
index1    7
index2    8
index3    9
Name: column3, dtype: int64