#Working with pandas

**First things first, we need to import the pandas library**

In [ ]:
import pandas as pd

**[Pandas Documentation](https://pandas.pydata.org/docs/)**

**Pandas Series**

In [ ]:
# creating a series from an array
a = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(f'The pandas series with index a,b,c is \n{a}')
print(f'\nJust for the peace of mind, type of the variable storing the series is:\n{type(a)}')

The pandas series with index a,b,c is
a    1
b    2
c    3
dtype: int64

Just for the peace of mind, type of the variable storing the series is:
<class 'pandas.core.series.Series'>

In [ ]:
# creating a series from a dictionary
a = pd.Series({'a': 1, 'b': 2, 'c':3})
print(f'The pandas series with index a,b,c is \n{a}')
print(f'\nJust for the peace of mind, type of the variable storing the series is:\n{type(a)}')

The pandas series with index a,b,c is
a    1
b    2
c    3
dtype: int64

Just for the peace of mind, type of the variable storing the series is:
<class 'pandas.core.series.Series'>

In [ ]:
# accessing the values in a series via index
print(f'Value of 1st index = {a["a"]}')
print(f'Value of 2nd index = {a["b"]}')
print(f'Value of 3rd index = {a["c"]}')

Value of 1st index = 1
Value of 2nd index = 2
Value of 3rd index = 3

**Pandas Dataframe**

In [ ]:
# creating a dataframe
dictionary = {
    'column1': [1,2,3],
    'column2':[4,5,6],
    'column3':[7,8,9],
    'column4':[10,11,12]
}
our_df = pd.DataFrame(dictionary, index=["index1", "index2", "index3"])
print(f'The data frame we created :\n{our_df}')

The data frame we created :
        column1  column2  column3  column4
index1        1        4        7       10
index2        2        5        8       11
index3        3        6        9       12

In [ ]:
#playing with the above dataframe
print(f'The first column: \n{our_df.column1}')
print(f'\nThe second column: \n{our_df.column2}')
print(f'\nThe third column: \n{our_df.column3}')

The first column:
index1    1
index2    2
index3    3
Name: column1, dtype: int64

The second column:
index1    4
index2    5
index3    6
Name: column2, dtype: int64

The third column:
index1    7
index2    8
index3    9
Name: column3, dtype: int64

In [ ]:
# find the details or information about the dataframe in hand
print(f'The number of rows and columns (shape of the df) in this dataframe = {our_df.shape}')
print(f'The number of rows in this dataframe = {our_df.shape[0]}')
print(f'The number of columns in this dataframe = {our_df.shape[1]}')
print(f'The number of elements in this dataframe = {our_df.size}')

The number of rows and columns (shape of the df) in this dataframe = (3, 4)
The number of rows in this dataframe = 3
The number of columns in this dataframe = 4
The number of elements in this dataframe = 12

**There are more exciting features to explore. For that, we would need a larger dataset.**<br>
**Let us use this dataset available at** [https://api.covid19india.org/csv/latest/state_wise.csv](https://api.covid19india.org/csv/latest/state_wise.csv)

In [ ]:
# importing a csv file from the mentioned source in form of dataframe
df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv")
df

                                       State  ...                                        State_Notes
0                                      Total  ...                                                NaN
1                                Maharashtra  ...  304 cases are marked as non-covid deaths in MH...
2                                 Tamil Nadu  ...  [July 22]: 444 backdated deceased entries adde...
3                                      Delhi  ...  [July 14]: Value for the total tests conducted...
4                                  Karnataka  ...  9 cases are classified as non-covid related de...
5                             Andhra Pradesh  ...  Total includes patients from other states and ...
6                              Uttar Pradesh  ...                                                NaN
7                                    Gujarat  ...                                                NaN
8                                West Bengal  ...                                                NaN
9                                  Telangana  ...  [July 27]\nTelangana bulletin for the previous...
10                                 Rajasthan  ...                                                NaN
11                                     Bihar  ...                                                NaN
12                                   Haryana  ...                                                NaN
13                                     Assam  ...  Includes one case from Nagaland.\nTotal of 3 p...
14                            Madhya Pradesh  ...                                                NaN
15                                    Odisha  ...  [July 12th] 20 non-covid deaths reported in st...
16                         Jammu and Kashmir  ...                                                NaN
17                                    Kerala  ...  Mahe native who expired in Kannur included in ...
18                                    Punjab  ...                                                NaN
19                                 Jharkhand  ...                                                NaN
20                              Chhattisgarh  ...                                                NaN
21                               Uttarakhand  ...        38 Migrated cases reduced from Active count
22                                       Goa  ...                                                NaN
23                                   Tripura  ...  18 cases are marked as migrated in Tripura das...
24                                Puducherry  ...                                                NaN
25                                   Manipur  ...                                                NaN
26                          Himachal Pradesh  ...  HP has 16 Migrated cases which are reduced fro...
27                                    Ladakh  ...                                                NaN
28                                  Nagaland  ...                                                NaN
29                         Arunachal Pradesh  ...  [July 25]: All numbers corresponding to Papum ...
30                                Chandigarh  ...                                                NaN
31  Dadra and Nagar Haveli and Daman and Diu  ...        11 Migrated cases reduced from Active count
32                                 Meghalaya  ...  [June 17]:\nOne case was identified to be fals...
33                                    Sikkim  ...        13 Migrated cases reduced from Active count
34                                   Mizoram  ...                                                NaN
35               Andaman and Nicobar Islands  ...                                                NaN
36                          State Unassigned  ...  MoHFW website reports that these are the 'case...
37                               Lakshadweep  ...                                                NaN

[38 rows x 12 columns]

In [ ]:
# find the details or information about the dataframe in hand
print(f'The number of rows and columns (shape of the df) in this dataframe = {df.shape}')
print(f'The number of rows in this dataframe = {df.shape[0]}')
print(f'The number of columns in this dataframe = {df.shape[1]}')
print(f'The number of elements in this dataframe = {df.size}')

The number of rows and columns (shape of the df) in this dataframe = (38, 12)
The number of rows in this dataframe = 38
The number of columns in this dataframe = 12
The number of elements in this dataframe = 456

In [ ]:
# first five rows of the dataframe
df.head() # by default it prints first five rows
# we can state the number of rows we want in the paranthesis like - head.df(2)

         State  ...                                        State_Notes
0        Total  ...                                                NaN
1  Maharashtra  ...  304 cases are marked as non-covid deaths in MH...
2   Tamil Nadu  ...  [July 22]: 444 backdated deceased entries adde...
3        Delhi  ...  [July 14]: Value for the total tests conducted...
4    Karnataka  ...  9 cases are classified as non-covid related de...

[5 rows x 12 columns]

In [ ]:
#last five rows of the dataframe
df.tail() # by default it returns the last 5 rows
# we can state the number of rows we want in the paranthesis like - tail.df(2)

                          State  ...                                        State_Notes
33                       Sikkim  ...        13 Migrated cases reduced from Active count
34                      Mizoram  ...                                                NaN
35  Andaman and Nicobar Islands  ...                                                NaN
36             State Unassigned  ...  MoHFW website reports that these are the 'case...
37                  Lakshadweep  ...                                                NaN

[5 rows x 12 columns]